header {
  box-sizing: border-box;
  width: 70%;
  background-color: rgb(241, 201, 245);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header div {
  display: inline-block;
}

header a,
header i {
  color: inherit;
  cursor: pointer;
}
.header__logo {
  padding: 1rem;
}
.header__logo a {
  font-weight: bolder;
  font-size: 2rem;
}

.header__nav__item {
  padding: 1rem;
}
.header__nav__item-bold {
  font-weight: bold;
}

.header__nav__item a:active,
.header__nav__item a:hover {
  border-bottom: 2px solid blueviolet;
  padding-bottom: 0.1rem;
  color: blueviolet;
}
header i:active,
header i:hover {
  color: blueviolet;
  font-weight: bold;
}
